{% extends "base.html" %}
{% block content %}
<div class="page-head"><h1>{{ "编辑线路" if item.id else "新增线路" }}</h1></div>
<form class="form-panel" method="post">
  <div class="row g-3">
    <div class="col-md-6"><label class="form-label">线路编号</label><input class="form-control" name="code" value="{{ item.code or '' }}" required></div>
    <div class="col-md-6"><label class="form-label">国家</label><input class="form-control" name="country" value="{{ item.country or '' }}"></div>
    <div class="col-md-6"><label class="form-label">线路类型</label><input class="form-control" name="line_type" value="{{ item.line_type or '' }}"></div>
    <div class="col-12"><label class="form-label">备注</label><textarea class="form-control" name="remark" rows="4">{{ item.remark or '' }}</textarea></div>
  </div>
  <button class="btn btn-primary mt-4">保存</button>
</form>
{% endblock %}
